.card {
  width: 90%;
  margin: 1rem auto;
  background-color: rgb(235, 235, 235);
  align-items: center;
}

img {
  height: 20rem;
  margin-top: 20px;
}

.border {
  margin-top: 1rem;
  font-size: 2rem;
}

.title {
  margin: 1rem;
  font-size: 1rem;
}
