<div class="container mat-elevation-z8">
  <form [formGroup]="userForm" (ngSubmit)="delete()" class="form">
    <h1 class="fullwidth">Delete User</h1>
    <img class="fullwidth" src="assets/img/delete.jpg" alt="Delete">


    <mat-form-field class="fullwidth" appearance="outline">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="street">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullwidth" appearance="outline">
      <mat-label>Phone</mat-label>
      <input formControlName="phone" matInput placeholder="911111111" appPhoneMask>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>


    <mat-form-field class="fullwidth" appearance="outline">
      <mat-label>Birthdate</mat-label>
      <input formControlName="birthDate" matInput placeholder="911111111">
      <mat-icon matSuffix>edit_calendar</mat-icon>
    </mat-form-field>


    <mat-form-field class="fullwidth" appearance="outline">
      <mat-label>Client</mat-label>
      <input formControlName="clientId" matInput placeholder="Client Id">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <!--button type="submit" class="fullwidth mat-elevation-z2" mat-raised-button>Delete</button-->
    <button type="button" class="fullwidth mat-elevation-z2" mat-raised-button (click)="deleteMessage()">Delete</button>
    <button routerLink="../../" class="fullwidth" mat-stroked-button>Cancel</button>

  </form>
</div>
